@page
@model ErrorModel
@{
    ViewData["Title"] = "Eroare";
}

<div class="container text-center mt-5">
    <h1 class="text-danger">Eroare</h1>
    <p class="lead">Pagina solicitată nu a fost găsită.</p>
    <a asp-page="Index" class="btn btn-primary">Înapoi la pagina principală</a>
</div>
